@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  /* Marketing Login Button */
  .marketing-login-btn {
    @apply text-white bg-blue-600 hover:bg-blue-700;
  }

  /* Marketing Logo */
  .marketing-logo {
    @apply text-blue-600 hover:text-blue-700;
  }
}

@layer utilities {
  /* Scrollbar utilities */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}